Screen {
    layers: one two three;
}
Tab {
    overflow: auto;
}

#todo-tab-button-cluster {
    height: 1;
    #add-task {
    margin-left: 4;
    }
    #edit-task {
    margin-right: 5;
    color: yellow;
    }
    margin: 0;
}

TodoTask {
        layers: a b;
        height: 4;
        background: black 10%;
        padding: 0 2 0 3;
        margin: 1;
        width: 100%;

        #task-status {
            dock: right ;
            layer: two;
            height: 4;
            width: 13;
        }
        SmallButton{
            width: auto;
            min-width: 10;
            padding: 0 1;
            margin-left: 3;
            margin-bottom: 1;
        }

        #text {
            text-style: italic;
            color: gray 90%;
        }
}
.completed {
}

.not-completed {
}

TodoTask:focus-within {
    background-tint: $foreground 50%;
    border: round gray;
    height: 5;
    #title {
        text-style: bold;
        color: $primary 90%;
    }
    #text {
    text-style: italic;
    }

    SmallButton {
    background: black 10% ;
    }
}


TimeDisplay {
    content-align: center middle;
    text-opacity: 60%;
    height: 1fr;
}

$phase_show_border_color: white;

TaskCreatorModal {

    align: center middle;
    Container {
        width: 70%;
        height: 55%;
        background: black;
        border: thick round gray 30%;
    }
    HorizontalScroll {
    height: 5;
    }
    background: black 50%;
}

#settings_container {
    #sound_settings {
        border: gray;
        border-title-color: white;
        max-height: 5;
        #browse_sound_button {
            dock: right;
        }
    }
    #time_settings {
        Input {
            padding: 0 2;
            offset: 0 0;
        }
        border: gray;
        border-title-color: white;
        max-height: 10;
        #browse_sound_button {
            dock: right;
    }
    }

    #misc {
        border: gray;
        border-title-color: white;
        height: 5;
    }
}


#settings_tab{

    #duration_settings {
        border: gray;
        border-title-color: white;
    }
    Label {
        text-style: bold;
        padding: 0 4;
    }
}
#file_selector_modal {
    align: center middle ;
    border: round gray;
    padding: 1;
    #file_selector_help {
        max-width: 50%;
    }
    #confirm_button {
        dock: right;
    }
}

.modal-title {
    /*: bold;*/
    margin: 1 0;
}

.modal-actions {
    align: right middle;
    /*gap: 0.5rem;*/
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

#clock_cluster {
    outline: round white 40%;
    padding: 2 8;
    max-height: 87vh;
    align: center middle !important;

    #timer_digits {
            /*
            please note that this element is centered in
            a hacky way using the Center widget before mounting.
            */
            width: auto;
        }

    WorldClock {
        color: white 33%;
        text-align: center;
        padding-top: 1;
        margin: 0;
    }

    #main_clock {
        max-height: 9;
        align: center middle;
        border: white 12%;
        border-title-color: grey;
    }

    #phase_show {
        content-align: center middle;
        min-width: 50%;
        height: 3;
        overflow: scroll;
        outline: gray;
        outline-top: none;
        outline-bottom: round $phase_show_border_color;
        outline-left: round $phase_show_border_color;
        outline-right: round  $phase_show_border_color;
        offset: 0 -1;
    }

    #time_left_progress_bar{
        width: 1fr;
        align: center bottom;
        offset: 0 1;
    }


}

Tracker {
    layers: top bottom;
    align: center middle;
    width: auto;
    max-width: 65%;
    #title {
        opacity: 40%;
        width: 100%;
        align:center middle ;
        text-align: center;
        background: transparent;
    }
    #seperator {
        opacity: 40%;
        color: gray;
        width: 100%;
    }
    Label {
        width: 40;
        text-align: center;
    }

    height: 10;
    #tracker-grid{
        layout: grid;
        grid-size: 5;
        grid-columns: 8% 23% 23% 23% 23%;
    }
    #selector {
        visibility: hidden;
    }
    .visible {
        visibility: visible !important;
        text-align:right;
    }

    #tracked-task-tracker {
        layout: grid;
        grid-columns: 8% 23% 23% 23% 23%;
        grid-size: 5;
        height:1;


        #selector {
        color: white;
        }

    }
    TrackedTask{
        color: gray;
    }
    TrackedTask:focus{
        text-style: italic;
    }


}

Tracker:focus {
    background-tint: red;
}

#button_cluster{
    align: center middle;

    Button {
        background: transparent;
        border: tab white 60%;
        padding: 1;

    }
    #start_stop {
        border-right: none;
        background: green 30%;
    }
    #reset {
        border-right: none;
        border-left: none;
        background: yellow 10%;
    }
    #toggle_phase {
        border-left: none;
        background: red 10%;

    }
}